@import '../../../theme/variables.scss';
.exchange{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__card{
        color: $main-blue;
        font-weight: 700;
        input{
            &::placeholder{
                color: $main-gray;
                font-size: inherit;
                font-weight: 700;
            }
            &:focus{
                // border-bottom: 1px solid $main-blue;
                outline: none;
            }
            min-width: 10px;
            color: $main-blue;
            font-weight: 700;
            border: none; 
            font-size: inherit;
            padding-left: 10px;
        }
        margin-bottom: 20px;
    }
    &__refresh-button{
        position: absolute;
        top: 20%;
        right: 10%;
    }
}