@import '../../../theme/variables.scss';
.exchange{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__card{
        display: flex;
        align-items: center;
        position: relative;
        color: $main-blue;
        font-weight: 700;
        margin-bottom: 20px;
        min-height: 70px;
        input{
            &::placeholder{
                color: $main-gray;
                font-size: inherit;
                font-weight: 700;
            }
            &:focus{
                // border-bottom: 1px solid $main-blue;
                outline: none;
            }
            width: 100%;
            min-width: 10px;
            color: $main-blue;
            font-weight: 700;
            border: none; 
            font-size: inherit;
            padding-left: 10px;
        }
        &-badge{
            display: flex;
            align-items: center;
            span{
                position: absolute;
                bottom: 5px;
                right: 25px;
                color: $main-gray;
                @extend %font-size-small
            }
            .card-badge__copy{
                margin-right: 10px;
            }
        }
    }
    &__refresh-button{
        margin: 0 auto;
        // position: absolute;
        // top: 70%;
        // right: 45%;
    }
}