@import '../../../../theme/variables.scss';
.posts-page{
    &__options{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        // @extend %container
        @include breakpoint(sm){
            flex-direction: column;
            & div{
                width: 100%;
                & input{
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
        @include breakpoint(xs){
            
        }
        // & span{
        //     color:$main-light-red;
        //     margin-left: 20px;
        // }
    }
    &__container{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;

    }
    &__no-result{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        span{
            @extend %font-size-title
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // width: 100%;
    }
    &__item{
        margin-bottom: 30px;
        width: 30%;
        @include breakpoint(lg){   
            width: 48%;
        }
        @include breakpoint(md){
            width: 100%;
        }
        @include breakpoint(sm){
    
        }
        @include breakpoint(xs){
            
        }
    }
    @extend %container
}

.post-item {
    // display: inline-block;
    // margin-right: 10px;
  }
.pagination{
    width: 20%;
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
    &__page{
        padding: 5px;
        cursor: pointer;
        &:hover{
            color: $main-blue;
        }
    }
}
.current-page{
    color: $main-blue;
    border-bottom: 1px solid $main-blue;
}


.post-enter-active, .post-leave-active {
transition: all 1s;
}
.post-enter, .post-leave-to /* .list-leave-active до версии 2.1.8 */ {
opacity: 0;
transform: translateY(30px);
}