@import '../../../theme/variables.scss';
// .home{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-form{
        // min-width: 50%;
        &__input{
            margin-bottom: 10px;
            font-weight: 700;
            & span{
                font-weight: 300;
            }
            & input,select{
                border: none;
                font-size: inherit;
                &:focus{
                    // box-shadow:$shadow-blue-attention;
                    outline: none;
                }
                &:disabled{
                    background-color: $main-white;
                }

            }
            &__error{
                margin-top: 10px;
                font-size: 12px;
                color:$main-light-red;
            }
        }
        &__link{
            margin-top: 25px;
        }
        &__button{
            margin-top: 25px;
        }
    }





    &__item{
        color: $main-blue;
        font-weight: 700;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
