@import '../../../theme/variables.scss';
.user-data{
    display: flex;
    justify-content: center;
    &__item{
        color: $main-blue;
        font-weight: 700;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.home-form{
    &__input{
        & input{
            border: none;
            font-size: inherit;
            &:focus{
                // box-shadow:$shadow-blue-attention;
                outline: none;
            }
            &:disabled{
                background-color: $main-white;
            }
        }
    }
}