@import '../../../theme/variables.scss';
.app-card{
    display: flex;
    min-width: 300px;
    max-width: 95%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $shadow-black;
    background-color: $main-white;
    @include breakpoint(lg){

    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){

    }
    @include breakpoint(xs){

    }
}