@import '../../../theme/variables.scss';
.app-card{
    display: flex;
    min-width: 25%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    @include breakpoint(lg){
        width: 40%;
    }
    @include breakpoint(md){
        width: 50%;
    }
    @include breakpoint(sm){
        width: 90%;
    }
    @include breakpoint(xs){
        width: 95%;
    }
}