@import '../../../theme/variables.scss';
.add-post-button{
    display: flex;
    align-items: center;
    ion-icon{
        color: $main-white;
        z-index: 0;
        margin-left: 5px;
    }
    @extend %app-button
}