// @import '~materialize-css/dist/css/materialize.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './variables.scss';

*{
    font-family: 'Montserrat', sans-serif;
    color: $main-black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
}

