// colors
$main-gray: #999;
$main-blue: #287bff;
$main-light-blue: #7dc0ff;
$main-light-red: rgb(255, 62, 62, 0.7);
$main-light: #f5f5f5;
$main-black: #342E37;
//shadows
$shadow-black:0 7px 25px rgba(0, 0, 0, 0.08);
$shadow-blue-attention: 0 0 15px rgba(40, 122, 255, 0.2);
$shadow-red-attention: 0 0px 15px rgba(255, 62, 62, 0.2);


//styles
.app-form{
    display: flex;
    flex-direction: column;

    width: 30%;
    padding: 20px;
    margin: 0 auto;

    border: none;
    border-radius: 20px;
    box-shadow: $shadow-black;
    &__input{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        span{
            margin-top: 10px;
            margin-left: 15px;
            font-size: 12px;
            color:$main-light-red;
        }
    }
}

.app-input{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: $shadow-black;
    &::placeholder{
        color: $main-gray;
        font-size: inherit;
    }
    &:focus{
        box-shadow: $shadow-blue-attention;
        outline: none;
    }

}
.app-button{
    border: none;
    border-radius: 20px;

    min-width: 80px;
    padding: 10px 15px;

    background-color: $main-light-blue;
    color: $main-light;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        background-color: $main-blue;
    }
}
.app-link{
    color: $main-light-blue;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        color: $main-blue;
    }
}
.app-toast-message{
    position: absolute;
    bottom: 10%;
    right: 5%;
    min-width: 15%;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: $shadow-black;
}
.app-toast-error{
    position: absolute;
    bottom: 10%;
    right: 5%;
    min-width: 15%;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: $shadow-red-attention;
}

.title{
    min-width: 200px;
    text-align: center;
    margin: 20px auto;
 }


//attention
.invalid{
    box-shadow: $shadow-red-attention;
}