@import '../../../theme/variables.scss';
.header{
    // background-color: $main-light;
    box-shadow: $shadow-black;
    
    min-height: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    &__container{
        padding-left: 1%;
        padding-right: 1%;
        width: 1024px;
        margin: 0 auto;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-right: 10%;
        &:hover{
            border-bottom: 0.5px solid $main-light-blue;
        }
    }
}