@import '../../../theme/variables.scss';
//animation
.slide-enter-active,
.slide-leave-active{
    transition: transform 0.2s ease;
}
.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
}
//styles
.sidebar{
    display: none;
    @include breakpoint(sm){
        display: block;
    }
    &__backdrop {
        background-color: rgba(0,0,0,.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 998;
    }
    &__panel {
        overflow-y: auto;
        background-color: $main-light;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 61;
        padding: 3rem 20px 2rem 20px;
        width: 35%;
        @include breakpoint(sm){
            width: 50%;
        }
        z-index: 999;
    }
    &-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            margin-bottom: 15%;
        }
    
    }
}
